.banner {
	width: 99%;
	height: 99%;
}

img {
	max-width: 99%;
	max-height: 99%;
}

body {
	font-family: 'Tahoma', sans-serif
}

pre,
code {
	font-family: 'Fira Code', Consolas, monospace
}

.listButton {
	display: block;
	width: 500px;
	max-width: 99%;
	min-height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}

@media only screen and (max-device-width: 500px) {
	.listButton {
		width: 99%;
	}

}