<div class="gallery">
	<div class="gallery-slider">

		{%for i in range(end = images | length)%}
		<img src="{{images[i]}}" alt="{{alts[i]}}" onclick="var img = getElementById('gallery-{{nth}}'); img.src = src; img.alt = alt; var t = getElementById('text-{{nth}}'); t.innerText  = alt" />
		{%endfor%}
	</div>
	<div class="gallery-frame">

		<figure>
			<img id="gallery-{{nth}}" src="{{images[0]}}" alt="{{alts[0]}}" />
			<figcaption id="text-{{nth}}">{{alts[0]}}</figcaption>
		</figure>
	</div>
</div>