<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Maxwell's Website</title>
	<link rel="stylesheet" href="/main.css">
</head>

<body>

	{%if page.ancestors%}
	{%set item = page%}
	{%elif section.ancestors%}
	{%set item = section%}
	{%endif%}

	<div class="top-bar">
		{%if item%}

		{%for a in item.ancestors%}

		{%set s = get_section(path=a)%}

		<a href="{{ s.permalink}}">{{s.title}}</a>

		/

		{%endfor%}

		{{item.title}}

		{%else%}

		<a href="/">Home</a>

		{%endif%}
	</div>


	<section class="content">
		<div>
			{% block content %} {% endblock %}
		</div>
	</section>
</body>

</html>