{% extends "base.html" %}

{%block head%}
<meta name="google-site-verification" content="oqWz1iA6L1SYYqn9eBIdK0lMCgB5Ewxd8ntE9xpohEs" />
{%endblock%}

{% block content %}
<h2>
	<a href="https://github.com/maxwell-gm206">Github</a> | <a href="https://www.linkedin.com/in/maxwell-pettett/">LinkedIn</a> | <a href="mailto:maxwellpettett@outlook.com">Mail</a> | <a href="https://stolencheese2.tumblr.com/">tumblr</a>
</h2>
<h1 class="title">
	Maxwell-<a href="https://en.wikipedia.org/wiki/Maxwell_%28microarchitecture%29#Second_generation_Maxwell_(GM20x)">GM206</a>
</h1>
<h2>
	Website/Portfolio/thing
</h2>
<p>Click <a href="{{ get_url(path='@/projects/_index.md') }}">here</a> to see my projects, and <a href="{{ get_url(path='@/thoughts/_index.md') }}">here</a> for whatever other stuff.</p>

<!-- {% for page in section.subsections %}

{% set section = get_section(path=page, metadata_only=true) %}

<button class="listButton" onclick="window.location.href='{{ section.permalink | safe }}';">
	<b> {{ section.title }} </b>


</button>

{% endfor %} -->


<h2>Highlights:</h2>
<div class="list-container">
	{% for page in ["projects/ch-concentrated-solar.md", "projects/group-project.md", "projects/gmtk2022.md"] %}

	{% set page = get_page(path=page, metadata_only=true) %}

	{% include "shortcodes/page-preview.html" %}

	{% endfor %}

</div>

{% endblock content %}