{% extends "base.html" %}

{% block content %}

<h1 class="title">
	{{ page.title }}
</h1>

<div class="metadata">
	{% block metadata %}

	<code>
	{"date" : {{page.date}}, "tags" : [
		{%-if page.taxonomies.tags-%} 
		{%-for tag in page.taxonomies.tags-%}
		"<a href={{ get_taxonomy_url(kind="tags", name=tag) }}>{{tag}}</a>",
		{%-endfor-%}
		{%-endif-%}] 
	}
	{%- if page.extra["repo"] -%}, "repo":"<a href={{ page.extra["repo"] }}>...</a>"{%-endif-%}
	{%- if page.extra["site"] -%}, "site":"<a href={{ page.extra["site"] }}>...</a>"{%-endif-%}
}
</code>

	{% endblock metadata %}
</div>


<article>
	{{ page.content | safe }}
</article>

{% endblock content %}